.about-us-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  margin: 0 5vw;
  margin-top: 1rem;
}

.about-us-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}
.about-us-imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.about-img {
  width: 23rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1025px) {
  .about-us-imgs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .about-img {
    width: 23rem;
    margin-top: 0.8rem;
  }
}
@media screen and (max-width: 800px) {
  .about-us-imgs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .about-img {
    width: 20rem;
    margin-top: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .about-us-header {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
  }
  .about-us-text {
    font-size: 0.8rem;
  }

  .about-us-imgs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .about-img {
    width: 90vw;
    margin-top: 0.8rem;
  }
}
@media screen and (max-width: 375px) {
  .about-us-imgs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  /* .about-img {
    width: 17rem;
    margin-top: 0.8rem;
  } */
}
