.mou-header {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 0.5rem 0;
}
.mou-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.mou-each-title {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.each-mou {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.each-mou img {
  width: 60%;
}

@media screen and (max-width: 500px) {
  .mou-header {
    font-size: 1rem;
  }

  .mou-each-title {
    font-size: 0.8rem;
  }
}
