.company-header {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 0.5rem 0;
}
.companyAll {
  margin: 5px auto;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.companyImg {
  margin-bottom: 10px;
  width: 8rem;
}

.companyEachCard {
  width: 14rem;
  /* height: 26rem; */
  border: 2px solid rgb(173, 173, 173);
  padding: 10px 0;
  height: 100%;
}
.companyEach {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}

@media screen and (max-width: 500px) {
  .company-header {
    font-size: 1rem;
  }

  .companyImg {
    width: 8rem;
  }

  .companyText {
    font-size: 0.8rem;
  }
}
