.facility-img {
  width: 15rem;
}

.facility-name {
  cursor: pointer;
  font-weight: bold;
}

.facility-name:hover {
  color: #14244c;
  text-decoration: underline;
}

.facility-table {
  width: 95vw;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.facility-text {
  text-align: justify;
}

.facilities-header {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 0.5rem 0;
}

@media screen and (max-width: 500px) {
  .facilities-header {
    font-size: 1rem;
  }

  .facility-text {
    font-size: 0.8rem;
    width: 90vw;
    margin: 0 auto;
  }

  .facility-img {
    width: 10rem;
  }
}
