.faculty-header {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 0.5rem 0;
}

.faculty-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  color: #14244c;
}

.faculty-des {
  /* margin-top: -10px; */
  margin-top: 5px;
}

.faculty-interest {
  margin-top: -15px;
}
.faculty-each {
  width: 85vw;
  height: 100%;
  border: 1px rgb(172, 172, 172) solid;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 1rem;
}
.faculty-img {
  width: 119px;
  height: 153px;
}

.faculty-each-left {
  display: flex;
}

.faculty-each-right {
  margin-right: 25px;
}

.faculty-each-info {
  width: 50vw;
  margin-left: 30px;
}

.searchbar {
  width: 85vw;
  margin: 0 auto;
}

.research-interest-title,
.faculty-name {
  color: #14244c;
  font-weight: 500;
  font-size: 1.1rem;
}

.research-interest-title {
  margin-top: 0.5rem;
}

@media screen and (max-width: 1100px) {
  .faculty-each-info {
    font-size: 0.9rem;
  }

  .faculty-each-right {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 950px) {
  .faculty-each {
    font-size: 0.8rem;
    width: 85vw;
  }
}
@media screen and (max-width: 835px) {
  .faculty-each {
    flex-direction: column;
    justify-content: center;
  }

  .faculty-each-left {
    margin: 0 auto;
  }

  .faculty-each-right {
    margin-left: 30px;
  }
}

@media screen and (max-width: 500px) {
  .faculty-header {
    font-size: 1rem;
  }

  .faculty-each-left {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .research-interest-title,
  .faculty-name {
    color: #14244c;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .faculty-each-info {
    width: 80vw;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 0.8rem;
  }

  .faculty-each-right {
    margin: 0px;
    text-align: center;
  }
  .faculty-each {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
