.research-img {
  width: 26rem;
  border: 2px solid #d39232;
  background-color: #d39232;
}

.research-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.research-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.research-text {
  width: 60vw;
  text-align: justify;
}

.research-even {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1225px) {
  .research-text {
    width: 60vw;
    text-align: justify;
  }
  .research-img {
    width: 23rem;
  }
}

@media screen and (max-width: 800px) {
  .research-text {
    width: 90vw;
    text-align: justify;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .research-img {
    width: 90vw;
  }

  .research-text {
    font-size: 0.7rem;
  }

  .research-title {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
