@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

.coelogo {
  width: 3.5rem;
  margin: 5px 10px;
}

.iit-goa-logo {
  width: 4rem;
  margin: 5px 10px;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #14244c;
  font-weight: bold;
}
.mobile-v {
  display: none !important;
}

.btn-welcome {
  background-color: #14244c;
  padding: 5px 10px;
  margin: 5px;
  color: white;
  border: 2px solid #d39232;
}

.searchbar {
  width: 85vw;
  margin: 0 auto;
}

.searchbar::placeholder {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #14244c !important;
  color: white !important;
  border-bottom: #d39232 2px solid;
  border-top: #d39232 2px solid;
}

.nav-link {
  color: white !important;
}
.nav-active {
  color: #d39232 !important;
}

.nav-item {
  margin-right: 15px;
  font-weight: bold;
}

.carousel-inner img {
  height: 40vh;
  /* height: 60vh; */
  object-fit: cover;
}
.home-page-bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-top: 1.5rem; */
  align-items: center;
}

.text-scroll {
  background-color: #14244c;
  height: 7.3rem;
  width: 28rem;
  border: 2px solid #d39232;
  margin-top: 2rem;
}

.text-scroll-title {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 7px;
  border-bottom: 1px solid #d39232;
}

.welcome {
  width: 33rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-size: 0.9rem;
  margin-top: -0.8rem;
}

.welcome-header {
  font-weight: bold;
  font-size: 1.5rem;
}

.welcome-text {
  margin-top: -0.9rem;
}

.text-scroll-text {
  width: 90%;
  position: relative;
  font-size: 0.9rem;
  margin: 10px auto;
  list-style: none;
  color: white;
  overflow: hidden;
  height: 80%;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* height: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.iframe-container iframe {
  position: absolute;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  margin-top: 19em;
  margin-bottom: 5rem;
}

.text-scroll-text ul li {
  margin-top: 10px;
}

.text-animation {
  animation: scrolling 15s linear infinite;
}

.text-animation:hover {
  animation-play-state: paused;
}
.text-animation-mobile {
  animation: scrolling-mob 10s linear infinite;
}

.text-animation-mobile:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(-40vh);
  }
}
@keyframes scrolling-mob {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-65vh);
  }
}

@media screen and (max-width: 1265px) {
  .text-scroll {
    background-color: #14244c;
    height: 15rem;
    width: 23rem;
  }

  .welcome {
    width: 23rem;
  }
}
/* @media screen and (max-width: 1165px) {
  .text-scroll {
    background-color: #14244c;
    height: 15rem;
    width: 20rem;
  }

  .welcome {
    width: 25rem;
  }
} */
@media screen and (max-width: 1165px) {
  .home-page-bottom {
    display: none;
  }

  .mobile-v {
    justify-content: center;
    display: block !important;
  }

  .btn-welcome-mob {
    padding: 5px 10px;
    font-size: 0.9rem;
  }

  .welcome {
    width: 90vw;
    margin: 10px auto;
    text-align: justify;
  }

  .text-scroll-mob {
    display: flex;
    width: 90vw;
    /* align-items: center; */
    justify-content: space-between;
    margin: 0px auto;

    flex-wrap: wrap;
    margin-top: -1rem;
  }

  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 20rem;
    /* height: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iframe-container iframe {
    position: absolute;
    margin: 0 auto;
    width: 60%;
    height: 90%;
    margin-top: 19rem;
  }
}

@media screen and (max-width: 790px) {
  .text-scroll-mob {
    justify-content: center;
  }
  .text-scroll {
    width: 22rem;
  }

  .text-scroll-two {
    margin-top: 30px;
  }

  .btn-welcome-mob {
    padding: 5px 10px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 500px) {
  .coelogo {
    width: 2rem;
    margin: 5px;
  }

  .iframe-container iframe {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    margin-top: 20em;
    /* margin-bottom: 5rem; */
  }

  .header-left {
    font-size: 0.6rem;
  }

  .iit-goa-logo {
    width: 2.5rem;
    margin: 5px;
  }

  .welcome-header {
    font-weight: bold;
    font-size: 1rem;
  }

  .welcome-text {
    font-size: 0.8rem;
  }

  input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 390px) {
  .iframe-container iframe {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    margin-top: 20em;
    /* margin-bottom: 5rem; */
  }
}
@media screen and (max-width: 350px) {
  .iframe-container iframe {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    margin-top: 20em;
    /* margin-bottom: 8rem; */
  }
}
